.list {
  list-style-type: none;
}
.list li {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 20px;
}
.list li svg {
  /* width: 10px; */
}
.wrapper {
  height: 100vh;
}
.bg-gary {
  background-color: #ccc;
}
